.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

span {
  font-weight: 600;
}

h2 {
  font-size: 48px;
  font-weight: 300;
}
h3 {
  padding-top: 3vmin;
  font-size: 22px;
  font-weight: 500;
}

.surligne {
  color: rgba(2, 70, 241, 1);
  text-decoration: solid underline rgba(2, 70, 241, 1) 4px;
  font-weight: 300;
}
