@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0;
  background-image: url("../asset/img/site-background-light.png");
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  font-size: 48px;
  font-weight: 300;
}

hr {
  width: 100%;
  margin: 0;
}

.gras {
  font-weight: 500;
}
.fint {
  font-weight: 300;
}
.blanc {
  font-weight: 700;
  font-size: 16px;
  color: rgba(255, 255, 255, 1);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.bleu {
  color: rgba(2, 70, 241, 1);
}

.image {
  max-width: 70%;
}

.ciel {
  background: linear-gradient(
    180deg,
    rgb(217, 148, 87) 0%,
    rgba(205, 134, 62) 35.58%,
    rgba(133, 170, 237) 65.87%,
    rgba(153, 214, 228) 100%
  );
  height: 25vh;
  width: 100%;
}

.terre {
  width: 100%;
  height: 265px;
  background-image: url("../asset/background-dirt.png");
}

.info {
  width: 100% !important;
  background-color: rgba(230, 239, 244, 1);
  border-radius: 5px;
  width: 65%;
  top: 35%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.surligne {
  color: rgba(2, 70, 241, 1);
  text-decoration: underline;
  font-weight: 300;
}
.margin-haut {
  margin-top: 0;
}
.margin-bas {
  margin-bottom: 0;
}

.arbre {
  background-color: rgba(245, 226, 188, 1);
  border-left: 5px solid rgba(194, 172, 127, 1);
  display: flex;
  align-items: center;
}

.mobe {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.nom {
  box-shadow: -4px -4px 2px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 15px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icon {
  width: 15%;
}

.sup {
  box-shadow: -4px -4px 2px 0px rgba(0, 0, 0, 0.25) inset;
  padding: 15px;
  width: 100%;
  border: none;
}

.into-mobe {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nombre {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.taille {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descipt {
  width: 100%;
  margin: 15px 0;
}

@media screen and (min-width: 496px) {
  .description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .mobe {
    width: 45%;
  }
  .descipt {
    width: 48%;
  }
}
@media screen and (min-width: 851px) {
  .mobe {
    width: 35%;
  }
  .descipt {
    width: 60%;
  }
}

.passive {
  border: 2px solid rgba(79, 140, 105, 1);
}
.passive > button {
  background: rgba(79, 140, 105, 1);
}
.passive > .nom {
  background: rgba(79, 140, 105, 1);
}
.passive > hr {
  border: solid 1px rgba(79, 140, 105, 1);
}

.neutral {
  border: 2px solid rgba(227, 181, 153, 1);
}
.neutral > button {
  background: rgba(227, 181, 153, 1);
}
.neutral > .nom {
  background: rgba(227, 181, 153, 1);
}
.neutral > hr {
  border: solid 1px rgba(227, 181, 153, 1);
}

.hostile {
  border: 2px solid rgba(210, 70, 70, 1);
}
.hostile > button {
  background: rgba(210, 70, 70, 1);
}
.hostile > .nom {
  background: rgba(210, 70, 70, 1);
}
.hostile > hr {
  border: solid 1px rgba(210, 70, 70, 1);
}
