.info {
	background-color: rgba(230, 239, 244, 1);
	padding: 20px;
	border-radius: 5px;
	width: 85%;
	position: absolute;
	top: 35%;
	display: flex;
	flex-direction: column;
	gap: 15px;
}

h2 {
	font-size: 48px;
	font-weight: 300;
}
h3 {
	font-size: 22px;
	font-weight: 500;
}

span {
	font-weight: 600;
}

.position {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	width: 100%;
	justify-items: center;
}
.position > div {
	width: 85%;
}

.gras {
	font-weight: 700;
	margin-bottom: 10px;
}

.long {
	width: 100%;
}

input {
	outline: none;
}

hr {
	width: 100%;
}

.resumet {
	background-color: rgba(217, 217, 217, 1);
	border: 1px solid rgba(142, 142, 142, 1);
	display: flex;
	justify-content: space-around;
	height: 5vh;
	align-items: center;
}

.vert {
	background-color: rgba(79, 140, 105, 1);
	border: none;
	font-weight: 700;
	color: white;
}
.grand {
	font-size: 22px;
}
